/*
Around:
width by height 640 x 480
*/
body, html {
    margin: 0;
}
/*
body {
    text-align: center;
    background: url(https://msutoday.msu.edu/_/img/assets/2016/detroit-skyline-2.jpg);
    background-size: cover;
    color: rgb(245,0,255);
    font-family: helvetica;
}
p {
    font-size: 22px;
}
input {
    boder: 0px;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"] {
    background: red;
    color: white;
}
*/
/*************************
NAVBAR
*************************/
.nav-bar {
    /* z-index property specifies the stack order of an element.
    An element with greater stack order is always infront of an element with a
    lower stack order.*/
    z-index: 10;
    width: 100%;
    /* Box-shadow property  adds shadow effect around an elemnet's frame
    offset-x | offset-y | blur-radius | color: rgba(red, green, blue, alpha)
    rgba() specifies  the intensity of the color between 0 and 255 or a
    percentage value (from 0% to 100%)
    alpha parameter is a number between 0.0(fully transparent) and 1.0 (fully opaque)*/
    /*box-shadow: 0px 0px 1px rgba(0,0,0,.3);*/

}

.nav-links {
    height 50px;
    width 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #e84393;
}

.nav-btn {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin-left: 2rem;
    transition: all 200ms;
}

.nav-btn:hover {
    transform: scale(1.1);
}

.nav-btn.logo {
    transition: all 300ms;
}

.nav-btn.right {
    margin-left: 90%;
    transition: all 300ms;
}

.nav-btn.right:hover {
    transform: scale(1.1) rotate(3deg);
}

/**********************
HERO GRID
**********************/

.hero-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 656px 1fr;
    background: linear-gradient(rgba(44, 62, 80,.6), rgba(44, 62, 80,.6)),url('https://i.imgur.com/QwSGSG5.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.hero-overlay-text {
    z-index: 5;
    /* calc() calculates the width of a <div> element
    vh is the size of the window*/
    height: calc(100vh - 50px);
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Headland One', serif;

}
.hero-overlay-text h1 {
    margin: 0rem;
    font-size: 8rem;
    font-family: 'Headland One', serif;
}

.hero-overlay-text h5 {
    margin: 0rem;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #74b9ff;
}
/*
.a {
    background-color: aquamarine;
}

.b {
    background-color: bisque;
}

.c {
    background-color: cadetblue;
}

.d {
    background-color: cyan;
}
*/

/**********************
PROJECT
**********************/
.projects-container {
    /*width: 100%;
    height: 1200px;*/
    display: flex;
    flex-direction: column;
}

.projects-header {
    background-color: cadetblue;
    height: 200px;
}

.project-div {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* height: 1000px; */
    width: auto;
    /*width: 100%;
    height: 100%;*/
    /*background: url('https://i.imgur.com/vnMhRK0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    margin-top: 25px;
    margin-bottom: 25px;
}

.project1-img-container {
    background: url('https://i.imgur.com/vnMhRK0.jpg');
    width: 1000px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-div-reverse {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
}

.project2-img-container {
    background: url('https://i.imgur.com/95gD2Tf.jpg');
    width: 1000px;
    height: 600px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
}

.projectTwo-right {
    /*width: 480px;*/
    background-color: cyan;
    /*background: url('https://i.imgur.com/95gD2Tf.jpg');*/
}

/**********************
FOOTER GRID
**********************/

.footer-container {
    width: 100%;
    margin: 0;
    background: #55efc4;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 300px 1fr;
    font-family: 'KoHo', sans-serif;
}

.footer-left {
    /*
    background-color: cyan;
    */
    margin-left: 20px;
}

.footer-right {
    /*
    background-color: bisque;
    */
}

img {
    margin-top: 6px;
    border: black solid;
    float: left
}

.footer-links {
    margin-left: 60%;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

/****************************
CONTACT
****************************/
.contact h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'KoHo', sans-serif;
    font-weight: 200;
}

.contact h3 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 200;
}

.email-input {
    border-radius: 4px;
    border: solid 1px gray;
    font-size: 2rem;
    padding: .3rem;
    padding-left: 1rem;
    transition: all 200ms;
}

/* Polish Submit Button */
.email-sub {
    margin-left: 1rem;
    font-size: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 4px;
    color: white;
    background: #e74c3c;
    transition: all 200ms;
    cursor: pointer;
    background-color: #fdcb6e;
}
